* {
  margin: 8px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  transition: 0.5s;
  scroll-behavior: smooth;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.picture {
  align-self: center;
  width: 7rem;
}

.magnifying-glass {
  animation: jello 2s ease 0s 1 normal forwards;
}
.magnifying-glass:hover {
  scale: 110%;
  cursor: help;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: shaking 3s ease 1s infinite normal forwards;
}

h1 {
  text-align: center;
  color: white;
  font-size: 42px;
}

.search-input {
  width: 20rem;
  height: 3rem;
  border-radius: 3rem;
  border: snow;
  padding-left: 2rem;
}

.search-input:hover {
  scale: 110%;
  cursor: pointer;
  border: 1px solid;
  border-color: rgba(148, 187, 233, 1);
}

.search-input:focus {
  outline: none !important;
}

.search-input:hover::placeholder {
  color: rgba(148, 187, 233, 1);
}

.all-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  color: snow;
  font-style: italic;
  font-weight: 200;
}

.results {
  height: 3rem;
}

.item-list:hover {
  color: black;
  cursor: pointer;
  scale: 110%;
}

.item-link {
  text-decoration: none;
  color: snow;
}

.book-info-box {
  background-color: aliceblue;
  padding: 2rem;
  position: absolute;
}

@keyframes shaking {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
