* {
  margin: 8px;
  padding: 0;
  box-sizing: border-box;
  font-family: prompt;
  transition: 0.5s;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  font-size: 42px;
}

.search-input {
  border-radius: 20px;
  border: snow;
  padding: 10px;
}

.search-input:hover {
  scale: 120%;
  cursor: pointer;
  border: 1px solid;
  border-color: rgba(148, 187, 233, 1);
}

.search-input:focus {
  outline: none !important;
}

.search-input:hover::placeholder {
  color: rgba(148, 187, 233, 1);
}

p,
h3 {
  color: snow;
  font-weight: 400;
}

.all-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.results {
  height: 3rem;
}

.list:hover {
  scale: 120%;
}

.item-link {
  text-decoration: none;
}
